@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    margin: 0;
    padding: 0;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 70px;

}

header h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}


nav a {
    font-family: "Saira", sans-serif;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    color: #000;
    margin-left: 50px;
    position: relative;
    padding-bottom: 5px;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 4px;
    background-color: #000;
    bottom: 0;
    left: 0;
    transition: all 0.6s ease-in-out;
}

header nav a:hover::after {
    width: 100%;
}

#all img {
    width: 30px;
    margin-left: 10px;
    margin-top: 4px;

}

.backimg {
    padding: 0px 70px;
    position: relative;

}

.backimg img {
    width: 100%;
    border-radius: 20px;
}

.head {
    position: absolute;
    top: -17px;
    left: 100px;
    opacity: 0;
    transform: translateX(-30px);
    animation: myanimation 2s ease forwards;
}

.head h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 90px;
    line-height: 90px;
}

.head h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-top: -50px;
}

.div1 {
    border-radius: 20px;
    width: 540px;
    height: 580px;
    background-color: #fff;
    position: absolute;
    top: 100px;
    left: 1050px;
    opacity: 0;
    transform: translateX(30px);
    animation: myanimation 2s ease forwards;
    animation-delay: 0s;

}

.div1 img {
    border-radius: 10px;
    padding: 26px 25px 0px 25px;
    width: 490px;
    height: 340px;
}

.div1 a {
    position: absolute;
    top: 40px;
    left: 40px;
    display: inline-block;
    font-family: sans-serif;
    text-decoration: none;
    border-radius: 20px;
    font-size: 22px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    padding: 6px 20px 6px 20px;
    /* width: 45px;
    height: 12px; */

}

.div1 .p1 {
    font-family: "Saira", sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-top: 0px;
    padding-left: 29px;

}

.div1 .p2 {
    font-family: "Saira", sans-serif;
    font-weight: 600;
    text-decoration: line-through;
    color: darkslategray;
    font-size: 24px;
    margin-top: -30px;
    padding-left: 28px;
}

.div1 .p3 {
    font-family: "Saira", sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-top: -30px;
    padding-left: 29px;

}

#butt {
    font-family: "Saira", sans-serif;
    font-weight: 600;
    font-size: 19px;
    border-radius: 14px;
    margin-top: -30px;
    margin-left: 25px;
    padding: 15px 20px;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    transition: all 0.7s ease-in-out;
}

#butt:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

@keyframes myanimation {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes myanimation {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.div3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;

}

.div3 h1 {
    font-size: 40px;
    font-weight: 400;
    font-family: "Saira", sans-serif;
}

.div4 {
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    padding: 0px 70px 0px 70px;
}

.div4 .card {
    width: 390px;
    height: 380px;
    border: 1px solid #fff;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    display: block;
}

.card-btn {
    position: absolute;
    bottom: -50px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Saira", sans-serif;
    left: 0;
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.6s ease;
}

.card:hover .card-btn {
    bottom: 0;
}

/* 
.anchor {
    position: relative;
}

.anchor #a1 {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 400;
    position: absolute;
    left: 95px;
    top: -385px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 13px;
    padding: 8px 12px;

}

.anchor #a2 {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 400;
    position: absolute;
    left: 520px;
    top: -385px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 13px;
    padding: 8px 12px;

}

.anchor #a3 {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 400;
    position: absolute;
    left: 945px;
    top: -385px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 13px;
    padding: 8px 12px;

}

.anchor #a4 {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 400;
    position: absolute;
    left: 1370px;
    top: -385px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 13px;
    padding: 8px 12px;

} */

.div6 {
    display: flex;
    justify-content: space-between;
    padding: 100px 70px 50px 70px;
}

.divh {
    padding-top: 100px;
}

.div6 img {
    border: 1px solid #fff;
    border-radius: 25px;
    width: 800px;
    height: 800px;
}

.divh h1 {
    font-family: "Saira", sans-serif;
    padding-top: 70px;
    font-size: 65px;
    line-height: 70px;
    font-weight: 400;
}

.divh p {
    font-family: "Saira", sans-serif;
    padding-top: -20px;
    font-size: 30px;
    font-weight: 400;
}

#but {
    font-family: "Saira", sans-serif;
    font-size: 25px;
    font-weight: 600;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    padding: 12px 35px;
    transition: all 0.5s ease-in-out;

}

#but:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

.div7 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 70px 0px 70px;
}

.div7 h1 {
    font-weight: 400;
    font-size: 40px;
    font-family: "Saira", sans-serif;
}

.div8 {
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
}

.product {
    position: relative;
    width: 530px;
    height: 500px;
    overflow: hidden;
    border-radius: 40px;
}

.product img {
    width: 100%;
    height: 100%;
    display: block;
}

.cart-btn {
    position: absolute;
    bottom: -50px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Saira", sans-serif;
    left: 0;
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.6s ease;
}

.product:hover .cart-btn {
    bottom: 0;
}


.div9 {
    height: 900px;
    border: 1px solid #fff;
    position: relative;
}

.div9 img {
    width: 100%;
    height: 100%;
    /* border-radius: 30px; */
}

.div10 {
    display: flex;
    align-items: center;
    gap: 200px;
    position: absolute;
    top: 0px;
}

.div9 .div10 h1 {
    font-family: "Space Grotesk", sans-serif;
    line-height: 83px;
    font-size: 101px;
    font-weight: 700;
    padding-left: 70px;
    opacity: 0;
    transform: translateY(-70px);
    animation: myanimation 2s ease forwards;
    animation-delay: 0s;
}

.div10 p {
    font-family: "Saira", sans-serif;
    text-align: justify;
    padding-right: 70px;
    font-size: 22px;
    opacity: 0;
    transform: translateY(-90px);
    animation: myanimation 2s ease forwards;
    animation-delay: 0s;

}

@keyframes myanimation {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.div11 h1 {
    font-weight: 400;
    padding-left: 70px;
    font-family: "Saira", sans-serif;
}

.main {
    font-family: "Saira", sans-serif;
    display: flex;
    gap: 10px;
    padding: 10px 70px;
}

.div12 {
    background-color: rgb(226, 170, 100);
    width: 600px;
    border-radius: 15px;
    padding: 25px 20px;

}

.div12 h1 {
    font-size: 23px;
    font-weight: 600;
    text-align: center;

}

.div12 img {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-left: 20px;

}

.div12 .divimg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.div12 p {
    line-height: 20px;
    font-size: 18px;
    text-align: center;
}

.divimg p {
    font-weight: 600;
    font-size: 20px;
}

footer {
    background-color: #272424;
}

.contian {
    display: flex;
    justify-content: space-between;
    padding: 20px 70px 0px 55px;
}


.f2 {
    color: #fff;
    padding-top: 20px;
}

.f2 h1 {
    font-family: "Saira", sans-serif;
    font-size: 30px;
    padding-left: 20px;

}

ul {
    list-style: none;
}

ul a {
    font-family: "Saira", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    margin-left: -20px;
    line-height: 35px;
    transition: all 0.4s ease-in-out;
}

ul a:hover {
    color: rgb(226, 170, 100);
}


.f3 {
    color: #fff;
    padding-top: 20px;
}

.f3 h1 {
    font-family: "Saira", sans-serif;
    font-size: 30px;
    padding-left: 30px;
}

.f3 p {
    font-family: "Saira", sans-serif;
    font-size: 16px;
    padding-left: 30px;
}

.f3 input {
    padding: 10px 60px;
    margin-left: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: #272424;
    font-family: "Saira", sans-serif;
}

::placeholder {
    color: #fff;
}

#button {
    font-family: "Saira", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-left: 30px;
    padding: 10px 140px;
    border: 1px solid #fff;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

#button:hover {
    color: #fff;
    background-color: #272424;
}

.f6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px 0px 40px;
}

.f6 h1 {
    font-family: "Saira", sans-serif;
    font-size: 75px;
    font-weight: 600;
    color: #fff;
    margin-left: 30px;
}

.f6 p {
    font-family: "Saira", sans-serif;
    font-size: 22px;
    color: #fff;
    margin-top: 70px;
    margin-right: 20px;

}

.f6 a {
    color: #fff;
    text-decoration: none;
}

.f6 a:hover {
    text-decoration: underline;
}

@media (min-width: 1920px) {

    .div1 {
        border-radius: 20px;
        width: 540px;
        height: 580px;
        background-color: #fff;
        position: absolute;
        top: 100px;
        left: 1150px;
        opacity: 0;
        transform: translateX(30px);
        animation: myanimation 2s ease forwards;
        animation-delay: 0s;
    }

    .div4 .card {
        width: 420px;
        height: 400px;
        border: 1px solid #fff;
        border-radius: 30px;
        position: relative;
        overflow: hidden;
    }

    .product {
        position: relative;
        width: 570px;
        height: 500px;
        overflow: hidden;
        border-radius: 40px;
    }
}

@media (max-width: 1660px) {

    header h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 30px;
    }

    nav a {
        font-family: "Saira", sans-serif;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        color: #000;
        /* padding-left: 30px; */
        position: relative;
        padding-bottom: 5px;
    }

    #all img {
        width: 25px;
        margin-left: 5px;
        margin-top: 5px;
    }

    .head h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 70px;
        line-height: 68px;
    }

    .head h4 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 25px;
        margin-top: -25px;
    }

    .div1 {
        border-radius: 20px;
        width: 400px;
        height: 420px;
        background-color: #fff;
        position: absolute;
        top: 65px;
        left: 825px;
        opacity: 0;
        transform: translateX(30px);
        animation: myanimation 2s ease forwards;
        animation-delay: 0s;
    }

    .div1 img {
        border-radius: 10px;
        padding: 25px 25px 0px 25px;
        width: 350px;
        height: 220px;
    }

    .div1 a {
        position: absolute;
        top: 35px;
        left: 35px;
        font-family: sans-serif;
        text-decoration: none;
        border-radius: 22px;
        font-size: 14px;
        border: 1px solid #000;
        background-color: #000;
        color: #fff;
        padding: 4px 15px 4px 15px;
    }

    .div1 .p1 {
        font-family: "Saira", sans-serif;
        font-weight: 700;
        font-size: 23px;
        margin-top: 0px;
        padding-left: 25px;
    }

    .div1 .p2 {
        font-family: "Saira", sans-serif;
        font-weight: 600;
        text-decoration: line-through;
        color: darkslategray;
        font-size: 19px;
        margin-top: -28px;
        padding-left: 25px;
    }

    .div1 .p3 {
        font-family: "Saira", sans-serif;
        font-weight: 700;
        font-size: 24px;
        margin-top: -26px;
        padding-left: 25px;
    }

    #butt {
        font-family: "Saira", sans-serif;
        font-weight: 600;
        font-size: 15px;
        border-radius: 15px;
        margin-top: -25px;
        margin-left: 25px;
        padding: 12px 17px;
        color: #fff;
        background-color: #000;
        border: 1px solid #000;
        transition: all 0.5s ease-in-out;
    }

    .div3 h1 {
        font-size: 35px;
        font-weight: 400;
        font-family: "Saira", sans-serif;
    }

    .div4 .card {
        width: 300px;
        height: 290px;
        border: 1px solid #fff;
        border-radius: 30px;
        position: relative;
        overflow: hidden;
    }

    .divh h1 {
        font-family: "Saira", sans-serif;
        font-size: 55px;
        line-height: 50px;
        font-weight: 400;
    }

    .divh p {
        font-family: "Saira", sans-serif;
        font-size: 28px;
        font-weight: 400;
    }

    .divh {
        padding-top: 80px;
    }

    #but {
        font-family: "Saira", sans-serif;
        font-size: 16px;
        font-weight: 600;
        border: 1px solid #000;
        background-color: #000;
        color: #fff;
        border-radius: 15px;
        padding: 12px 30px;
        transition: all 0.5s ease-in-out;
    }

    .div6 img {
        border: 1px solid #fff;
        border-radius: 30px;
        width: 600px;
        height: 600px;
    }

    .div7 h1 {
        font-weight: 400;
        font-size: 35px;
        font-family: "Saira", sans-serif;
    }

    .product {
        position: relative;
        width: 405px;
        height: 380px;
        overflow: hidden;
        border-radius: 35px;
    }

    .div9 .div10 h1 {
        font-family: "Space Grotesk", sans-serif;
        line-height: 65px;
        font-size: 75px;
        font-weight: 700;
        padding-left: 70px;
        opacity: 0;
        transform: translateY(-70px);
        animation: myanimation 2s ease forwards;
        animation-delay: 0s;
    }

    .div10 p {
        font-family: "Saira", sans-serif;
        text-align: justify;
        padding-right: 70px;
        font-size: 15px;
        opacity: 0;
        transform: translateY(-90px);
        animation: myanimation 2s ease forwards;
        animation-delay: 0s;
    }


}

@media (max-width: 1399px) {
    nav a {
        font-family: "Saira", sans-serif;
        text-decoration: none;
        font-size: 13px;
        font-weight: 500;
        color: #000;
        margin-left: 22px;
        position: relative;
        padding-bottom: 5px;
    }

    .head h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 65px;
        line-height: 60px;
    }

    .head h4 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 24px;
        margin-top: -23px;
    }

    .div1 {
        border-radius: 20px;
        width: 370px;
        height: 380px;
        background-color: #fff;
        position: absolute;
        top: 65px;
        left: 685px;
        opacity: 0;
        transform: translateX(30px);
        animation: myanimation 2s ease forwards;
        animation-delay: 0s;
    }

    .div1 img {
        border-radius: 10px;
        padding: 25px 25px 0px 25px;
        width: 320px;
        height: 200px;
    }

    .div1 .p1 {
        font-family: "Saira", sans-serif;
        font-weight: 700;
        font-size: 20px;
        /* margin-top: 0px; */
        padding-left: 25px;
    }

    .div1 .p2 {
        font-family: "Saira", sans-serif;
        font-weight: 600;
        text-decoration: line-through;
        color: darkslategray;
        font-size: 16px;
        margin-top: -25px;
        padding-left: 25px;
    }

    .div1 .p3 {
        font-family: "Saira", sans-serif;
        font-weight: 700;
        font-size: 19px;
        margin-top: -24px;
        padding-left: 25px;
    }

    #butt {
        font-family: "Saira", sans-serif;
        font-weight: 600;
        font-size: 13px;
        border-radius: 15px;
        margin-top: -12px;
        margin-left: 25px;
        padding: 12px 17px;
        color: #fff;
        background-color: #000;
        border: 1px solid #000;
        transition: all 0.5s ease-in-out;
    }

    .div3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 70px;
    }

    .div3 h1 {
        font-size: 30px;
        font-weight: 400;
        font-family: "Saira", sans-serif;
    }

    .div4 .card {
        width: 255px;
        height: 250px;
        border: 1px solid #fff;
        border-radius: 30px;
        position: relative;
        overflow: hidden;
    }

    .card-btn {
        position: absolute;
        bottom: -50px;
        font-size: 15px;
        font-weight: 600;
        font-family: "Saira", sans-serif;
        left: 0;
        width: 100%;
        padding: 5px;
        background: black;
        color: white;
        border: none;
        cursor: pointer;
        transition: 0.5s ease;
    }
}