

@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
body {
    padding: 30px;
    margin: 0;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -40px;
}

header h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}


nav a {
    font-family: "Saira", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 400;
    margin-left: 40px;
    transition: all 1s ease-in-out;
}

nav a:hover {
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    padding: 10px;
    transform: scale(1.3);
    border-radius: 8px;
}

#all {
    margin-left: -10px;
    margin-top: 3px;

}

#all img {
    width: 25px;
    margin-left: 10px;
    margin-top: 4px;

}

.head {
    background-image: url(image/imgi_1_Hero.jpg);
    background-repeat: no-repeat;
    margin-left: 23px;
    border-radius: 20px;
    margin-top: -40px;
    width: 1250px;
    height: 600px;
}

.head h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
    padding: 40px;
    line-height: 60px;
}

.head h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 40px;
    margin-top: -120px;
}


@keyframes anim {
    from {
        bottom: -40px;
    }

    to {
        bottom: 10px;
    }
}



.div1 {
    animation-name: anim;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.27, 1, 0.22, 1);
    /* animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1); */
    border-radius: 17px;
    width: 400px;
    height: 440px;
    background-color: #fff;
    position: absolute;
    top: 150px;
    left: 770px;


}

.div1 img {
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    margin-left: 5px;
    margin-right: 8px;
}

.div1 a {
    display: inline-block;
    font-family: sans-serif;
    text-decoration: none;
    border-radius: 15px;
    font-size: 12px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    padding: 7px;
    position: relative;
    top: -275px;
    margin-left: 35px;
    width: 45px;
    height: 12px;
    text-align: center;
}

.div1 .p1 {
    font-weight: 600;
    font-size: 18px;
    margin-top: -45px;

}

.div1 .p2 {
    font-weight: 600;
    text-decoration: line-through;
    /* margin-top: -13px; */
    color: darkslategray;
}

.div1 .p3 {
    font-weight: 700;
    font-size: 22px;
    /* margin-top: -10px; */

}

#butt {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 17px;
    border-radius: 8px;
    text-align: center;
    margin-top: -40px;
    margin-left: 20px;
    height: 45px;
    padding: 10px;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    transition: all 1s ease-in-out;
}

#butt:hover {
    transform: scale(1.2);
    color: #fff;
    background-color: #000;
}

.div3 {
    /* display: flex; */
    /* justify-content: space-between; */
    margin-top: 120px
}

.div3 h1 {
    font-weight: 500;
    margin-left: 25px;
    font-family: "Saira", sans-serif;
}

.div4 img {
    margin-left: 23px;
    width: 290px;
    height: 300px;
    border: 1px solid #fff;
    border-radius: 23px;
}

.div4 #a1 {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 40px;
    top: -290px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 13px;
    height: 250x;
    padding: 6px;

}

.div4 #a2 {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 275px;
    top: -290px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 13px;
    height: 250x;
    padding: 6px;

}

.div4 #a3 {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 510px;
    top: -290px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 13px;
    height: 250x;
    padding: 6px;
}

.div4 #a4 {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 750px;
    top: -290px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 13px;
    height: 250x;
    padding: 6px;
}

p {
    font-family: "Saira", sans-serif;
    margin-left: 30px;
    margin-top: -19px;
    font-weight: 400;
}

#p1 {
    color: chocolate;
    font-size: 20px;
}

.div5 {
    display: flex;
}

.div01 {
    font-size: 19px;
    line-height: 20px;
}

#p0 {
    font-size: 21px;
    font-weight: 600;
}

#pp {
    font-size: 21px;
    font-weight: 600;
    color: chocolate;
}

.div02 {
    font-size: 19px;
    margin-left: 200px;
    line-height: 20px;

}

#p1 {
    color: #000;
    font-size: 21px;
    font-weight: 600;
}

#p2 {
    font-size: 21px;
    font-weight: 600;
    color: chocolate;
}

.div03 {
    font-size: 19px;
    margin-left: 209px;
    line-height: 20px;

}

#p3 {
    color: #000;
    font-size: 21px;
    font-weight: 600;
}

#p4 {
    font-size: 21px;
    font-weight: 600;
    color: chocolate;
}

.div04 {
    font-size: 19px;
    margin-left: 200px;
    line-height: 20px;


}

#p5 {
    color: #000;
    font-size: 21px;
    font-weight: 600;
}

#p6 {
    font-size: 21px;
    font-weight: 600;
    color: chocolate;
}

.div6 {
    display: flex;
    justify-content: space-between;
}

.divh {
    margin-top: 100px;
    margin-left: 50px;
}

.div6 img {
    border: 1px solid #fff;
    border-radius: 25px;
    height: 600px;
    margin-right: 25px;
}

.divh h1 {
    font-family: "space grotesk", sans-serif;
    margin-top: 90px;
    font-size: 55px;
    line-height: 55px;
    font-weight: 400;
}

.divh p {
    font-family: "space grotesk", sans-serif;
    margin-left: 6px;
    font-size: 20px;
    font-weight: 400;
}

#but {
    font-family: "space grotesk", sans-serif;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    padding: 12px 25px;
    margin-left: 6px;
    margin-top: 20px;
    transition: all 1.2s ease-in-out;

}

#but:hover {
    color: #fff;
    background-color: #000;
    transform: scale(1.2);
}

.div7 h1 {
    font-weight: 500;
    margin-left: 25px;
    font-family: "Saira", sans-serif;
}

.div8 img {
    margin-left: 20px;
    width: 400px;
    height: 400px;
    border: 1px solid #fff;
    border-radius: 23px;
}

.div8 #a5 {
    font-family: "Saira", sans-serif;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 22px;
    position: relative;
    top: -50px;
    left: 290px;
}

.div8 #a6 {
    font-family: "Saira", sans-serif;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 22px;
    position: relative;
    top: -50px;
    left: 660px;
}

.div8 #a7 {
    font-family: "Saira", sans-serif;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 22px;
    position: relative;
    top: -50px;
    left: 960px;
}

.div9 {
    background-image: url(image/imgi_11_c837a6_457ab6f19a3b48e886fd792d51128156~mv2.jpg);
    background-repeat: no-repeat;
    height: 900px;
    border: 1px solid #fff;
    border-radius: 25px;
}

.div10 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div10 h1 {
    font-family: "Saira", sans-serif;
    line-height: 73px;
    font-size: 71px;
    font-weight: 600;
    margin-left: 30px;
    margin-top: 10px;
}

.div10 p {
    text-align: justify;
    margin-left: 90px;
    margin-top: -50px;
}

.div11 h1 {
    font-weight: 400;
    margin-left: 25px;
    font-family: "Saira", sans-serif;
}

.div12 {
    background-color: rgb(226, 170, 100);
    width: 400px;
    border-radius: 10px;
    padding: 30px 10px;
}

.div12 h1 {
    font-family: helvetica-w01-bold, sans-serif;
    font-size: 23px;
    font-weight: 600;
    margin-left: 40px;
    margin-bottom: 20px;

}

.div12 img {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-left: 20px;

}

.div12 p {
    text-align: justify;
    line-height: 20px;
    font-size: 15px;
    margin-right: 40px;
}

.divimg {
    display: flex;
    align-items: center;
}

.divimg p {
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
}

.div13 {
    background-color: rgb(226, 170, 100);
    width: 400px;
    border-radius: 10px;
    padding: 30px 10px;
}

.div13 h1 {
    font-family: helvetica-w01-bold, sans-serif;
    font-size: 23px;
    font-weight: 600;
    margin-left: 40px;
    margin-bottom: 20px;
}

.div13 img {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-left: 20px;
}

.div13 p {
    text-align: justify;
    line-height: 20px;
    font-size: 15px;
    margin-right: 40px;
}

.divimg2 {
    display: flex;
    align-items: center;
}

.divimg2 p {
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
}

.div14 {
    background-color: rgb(226, 170, 100);
    width: 400px;
    border-radius: 10px;
    padding: 30px 10px;
}

.div14 h1 {
    font-family: helvetica-w01-bold, sans-serif;
    font-size: 23px;
    font-weight: 600;
    margin-left: 40px;
    margin-bottom: 20px;
}

.div14 img {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-left: 20px;
}

.div14 p {
    text-align: justify;
    line-height: 20px;
    font-size: 15px;
    margin-right: 40px;
}

.divimg3 {
    display: flex;
    align-items: center;
}

.divimg3 p {
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
}

.main {
    display: flex;
    gap: 10px;
    margin-left: 8px;
    margin-right: 5px;
}

footer {
    background-color: #272424;
    border: 1px solid #000;
    border-radius: 10px;
    height: 500px;
    /* display: flex; */
}
.contian{
    display: flex;
}

.f1 {
    color: #fff;
    padding: 20px 30px;
}

.f1 h1 {
    font-family: "Saira", sans-serif;
    font-size: 25px;
    margin-left: 20px;

}

ul {
    list-style: none;
}

ul a {
    font-family: "Saira", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    margin-left: -20px;
    line-height: 30px;
}

.f2 {
    color: #fff;
    padding: 20px 30px;
}

.f2 h1 {
    font-family: "Saira", sans-serif;
    font-size: 25px;
    margin-left: 20px;

}

ul {
    list-style: none;
}

ul a {
    font-family: "Saira", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    margin-left: -20px;
    line-height: 30px;
}

.f3 {
    color: #fff;
    padding: 20px 30px;
}

.f3 h1 {
    font-family: "Saira", sans-serif;
    font-size: 25px;
    margin-left: 20px;

}

ul {
    list-style: none;
}

ul a {
    font-family: "Saira", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    margin-left: -20px;
    line-height: 30px;
}

.f4 {
    color: #fff;
    padding: 20px 30px;
}

.f4 h1 {
    font-family: "Saira", sans-serif;
    font-size: 25px;
    margin-left: 20px;

}

ul {
    list-style: none;
}

ul a {
    font-family: "Saira", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    margin-left: -20px;
    line-height: 30px;
}

.f5 {
    color: #fff;
    padding: 20px 30px;
}
.f5 h1 {
    font-family: "Saira", sans-serif;
    font-size: 25px;
    margin-left: 30px;
}
.f5 p{
      font-family: "Saira", sans-serif;
       font-size: 16px;
       margin-top: 10px;
}
.f5 input{
    padding: 10px 60px;
    margin-left: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: #272424;
}
::placeholder{
    color: #fff;
}
#button{
    font-family: "Saira", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-left: 30px;
    padding: 10px 120px;
    border: 1px solid #fff;
    border-radius: 8px;
    transition: all 1.3s ease-in-out;
}
#button:hover{
    color: #fff;
    background-color: #000;
    transform: scale(1.2);
}
.f6{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f6 h1{
    font-family: "Saira", sans-serif;
    font-size: 75px;
    font-weight: 600;
    color: #fff;
    margin-left: 30px;
}
.f6 p{
    font-family: "Saira", sans-serif;
   font-size: 22px ;
   color: #fff;
   margin-top: 70px;
   margin-right: 20px;

}
.f6 a{
    color: #fff;
    text-decoration: none;
}
.f6 a:hover{
    text-decoration: underline;
}