@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    margin: 0;
    padding: 0;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 70px;

}

header h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}


nav a {
    font-family: "Saira", sans-serif;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    color: #000;
    margin-left: 50px;
    position: relative;
    padding-bottom: 5px;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 4px;
    background-color: #000;
    bottom: 0;
    left: 0;
    transition: all 0.6s ease-in-out;
}

header nav a:hover::after {
    width: 100%;
}

#all img {
    width: 30px;
    margin-left: 10px;
    margin-top: 4px;

}

.backimg {
    padding: 0px 70px;
    position: relative;

}

.backimg img {
    width: 100%;
    border-radius: 20px;
}

.head {
    position: absolute;
    top: -17px;
    left: 100px;
    opacity: 0;
    transform: translateX(-30px);
    animation: myanimation 2s ease forwards;
}

.head h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 90px;
    line-height: 90px;
}

.head h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-top: -50px;
}

.div1 {
    border-radius: 20px;
    width: 540px;
    height: 580px;
    background-color: #fff;
    position: absolute;
    top: 100px;
    left: 1050px;
    opacity: 0;
    transform: translateX(30px);
    animation: myanimation 2s ease forwards;
    animation-delay: 0s;

}

.div1 img {
    padding: 26px 25px 0px 25px;
    width: 490px;
    height: 340px;

}

.div1 a {
    position: absolute;
    top: 40px;
    left: 40px;
    display: inline-block;
    font-family: sans-serif;
    text-decoration: none;
    border-radius: 20px;
    font-size: 22px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    padding: 6px 20px 6px 20px;
    /* width: 45px;
    height: 12px; */

}

.div1 .p1 {
    font-family: "Saira", sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-top: 0px;
    padding-left: 29px;

}

.div1 .p2 {
    font-family: "Saira", sans-serif;
    font-weight: 600;
    text-decoration: line-through;
    color: darkslategray;
    font-size: 24px;
    margin-top: -30px;
    padding-left: 28px;
}

.div1 .p3 {
    font-family: "Saira", sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-top: -30px;
    padding-left: 29px;

}

#butt {
    font-family: "Saira", sans-serif;
    font-weight: 600;
    font-size: 19px;
    border-radius: 14px;
    margin-top: -30px;
    margin-left: 25px;
    padding: 15px 20px;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    transition: all 0.7s ease-in-out;
    cursor: pointer;
}

#butt:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

@keyframes myanimation {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes myanimation {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.div3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;

}

.div3 h1 {
    font-size: 40px;
    font-weight: 400;
    font-family: "Saira", sans-serif;
}

.div4 {
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    padding: 0px 70px 0px 70px;
}

.div4 .card {
    width: 390px;
    height: 380px;
    /* border: 1px solid #ccc; */
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 3px 3px 10px #cccccc;
    transition: all 0.5s ease-in-out;
}

.div4 .card:hover {
    box-shadow: 3px 3px 10px #272424;
}

.card img {
    width: 100%;
    height: 100%;
    display: block;
}

.card-btn {
    position: absolute;
    bottom: -50px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Saira", sans-serif;
    left: 0;
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.6s ease;
}

.card:hover .card-btn {
    bottom: 0;
}

.div6 {
    display: flex;
    justify-content: space-between;
    padding: 100px 70px 50px 70px;
}

.divh {
    padding-top: 100px;
}

.div6 img {
    border: 1px solid #fff;
    border-radius: 25px;
    width: 800px;
    height: 800px;
}

.divh h1 {
    font-family: "Saira", sans-serif;
    padding-top: 70px;
    font-size: 65px;
    line-height: 70px;
    font-weight: 400;
}

.divh p {
    font-family: "Saira", sans-serif;
    padding-top: -20px;
    font-size: 30px;
    font-weight: 400;
}

#but {
    font-family: "Saira", sans-serif;
    font-size: 25px;
    font-weight: 600;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    border-radius: 13px;
    padding: 12px 35px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

}

#but:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

.div7 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 70px 0px 70px;
}

.div7 h1 {
    font-weight: 400;
    font-size: 40px;
    font-family: "Saira", sans-serif;
}

.div8 {
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
    cursor: pointer;
}

.product {
    position: relative;
    width: 530px;
    height: 500px;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 5px 5px 10px #cccccc;
    transition: all 0.5s ease-in-out;
}

.product:hover {
    box-shadow: 5px 5px 10px #272424;
}

.product img {
    width: 100%;
    height: 100%;
    display: block;
}

.cart-btn {
    position: absolute;
    bottom: -50px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Saira", sans-serif;
    left: 0;
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.6s ease;
}

.product:hover .cart-btn {
    bottom: 0;
}


.div9 {
    height: 900px;
    border: 1px solid #fff;
    position: relative;
}

.div9 img {
    width: 100%;
    height: 100%;
    /* border-radius: 30px; */
}

.div10 {
    display: flex;
    align-items: center;
    gap: 200px;
    position: absolute;
    top: 0px;
}

.div9 .div10 h1 {
    font-family: "Space Grotesk", sans-serif;
    line-height: 83px;
    font-size: 101px;
    font-weight: 700;
    padding-left: 70px;
    opacity: 0;
    transform: translateY(-70px);
    animation: myanimation 2s ease forwards;
    animation-delay: 0s;
}

.div10 p {
    font-family: "Saira", sans-serif;
    text-align: justify;
    padding-right: 70px;
    font-size: 22px;
    opacity: 0;
    transform: translateY(-90px);
    animation: myanimation 2s ease forwards;
    animation-delay: 0s;

}

@keyframes myanimation {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.div11 h1 {
    font-weight: 400;
    padding-left: 70px;
    font-family: "Saira", sans-serif;
}

.main {
    font-family: "Saira", sans-serif;
    display: flex;
    gap: 10px;
    padding: 10px 70px;
}

.div12 {
    background-color: rgb(226, 170, 100);
    width: 600px;
    border-radius: 15px;
    padding: 25px 20px;
    border: 1px solid rgb(226, 170, 100);
    transition: all 0.5s ease-in-out;
    box-shadow: 5px 5px 10px #272424;
}

.div12:hover {
    background-color: #ffffffff;
    transform: translateY(-5px);
    box-shadow: 5px 5px 8px rgb(226, 170, 100);
    border: 1px solid rgb(226, 170, 100);
}

.div12 h1 {
    font-size: 23px;
    font-weight: 600;
    text-align: center;
}

.div12 img {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-left: 20px;
}

.div12 .divimg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.div12 p {
    line-height: 20px;
    font-size: 18px;
    text-align: center;
}

.divimg p {
    font-weight: 600;
    font-size: 20px;
}

footer {
    background-color: #272424;
}

.contian {
    display: flex;
    justify-content: space-between;
    padding: 20px 70px 0px 55px;
}

.f2 {
    color: #fff;
    padding-top: 20px;
}

.f2 h1 {
    font-family: "Saira", sans-serif;
    font-size: 30px;
    padding-left: 20px;

}

ul {
    list-style: none;
}

ul a {
    font-family: "Saira", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    margin-left: -20px;
    line-height: 35px;
    transition: all 0.4s ease-in-out;
}

ul a:hover {
    color: rgb(226, 170, 100);
}


.f3 {
    color: #fff;
    padding-top: 20px;
}

.f3 h1 {
    font-family: "Saira", sans-serif;
    font-size: 30px;
    padding-left: 30px;
}

.f3 p {
    font-family: "Saira", sans-serif;
    font-size: 16px;
    padding-left: 30px;
}

.f3 input {
    padding: 10px 60px;
    margin-left: 30px;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    border-bottom: 1px solid #fff;
    background-color: #272424;
    font-family: "Saira", sans-serif;
}

::placeholder {
    color: gray;
}

.f3 input:focus {
    border-color: #ffffff;
    box-shadow: 0px 0px 12px #ffffff;
}


#button {
    font-family: "Saira", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-left: 30px;
    padding: 10px 140px;
    border: 1px solid #fff;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

#button:hover {
    color: #fff;
    background-color: #272424;
}

.f6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px 0px 40px;
}

.f6 h1 {
    font-family: "Saira", sans-serif;
    font-size: 75px;
    font-weight: 600;
    color: #fff;
    margin-left: 30px;
}

.f6 p {
    font-family: "Saira", sans-serif;
    font-size: 22px;
    color: #fff;
    margin-top: 70px;
    margin-right: 20px;

}

.f6 a {
    color: #fff;
    text-decoration: none;
}

.f6 a:hover {
    text-decoration: underline;
}

@media (min-width: 1920px) {

    .div1 {
        border-radius: 20px;
        width: 540px;
        height: 580px;
        background-color: #fff;
        position: absolute;
        top: 100px;
        left: 1150px;
        opacity: 0;
        transform: translateX(30px);
        animation: myanimation 2s ease forwards;
        animation-delay: 0s;
    }

    .div4 .card {
        width: 420px;
        height: 400px;
        border: 1px solid #fff;
        border-radius: 30px;
        position: relative;
        overflow: hidden;
    }

    .product {
        position: relative;
        width: 570px;
        height: 500px;
        overflow: hidden;
        border-radius: 40px;
    }
}

/* check 1400px pr */
@media (max-width: 1660px) {

    header h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 30px;
    }

    nav a {
        font-family: "Saira", sans-serif;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        color: #000;
        /* padding-left: 30px; */
        position: relative;
        padding-bottom: 5px;
    }

    #all img {
        width: 25px;
        margin-left: 5px;
        margin-top: 5px;
    }

    .head h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 70px;
        line-height: 68px;
    }

    .head h4 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 25px;
        margin-top: -25px;
    }

    .div1 {
        border-radius: 20px;
        width: 400px;
        height: 420px;
        background-color: #fff;
        position: absolute;
        top: 65px;
        left: 825px;
        opacity: 0;
        transform: translateX(30px);
        animation: myanimation 2s ease forwards;
        animation-delay: 0s;
    }

    .div1 img {
        padding: 25px 25px 0px 25px;
        width: 350px;
        height: 220px;
    }

    .div1 a {
        position: absolute;
        top: 35px;
        left: 35px;
        font-family: sans-serif;
        text-decoration: none;
        border-radius: 22px;
        font-size: 14px;
        border: 1px solid #000;
        background-color: #000;
        color: #fff;
        padding: 4px 15px 4px 15px;
    }

    .div1 .p1 {
        font-family: "Saira", sans-serif;
        font-weight: 700;
        font-size: 23px;
        margin-top: 0px;
        padding-left: 25px;
    }

    .div1 .p2 {
        font-family: "Saira", sans-serif;
        font-weight: 600;
        text-decoration: line-through;
        color: darkslategray;
        font-size: 19px;
        margin-top: -28px;
        padding-left: 25px;
    }

    .div1 .p3 {
        font-family: "Saira", sans-serif;
        font-weight: 700;
        font-size: 24px;
        margin-top: -26px;
        padding-left: 25px;
    }

    #butt {
        font-family: "Saira", sans-serif;
        font-weight: 600;
        font-size: 15px;
        border-radius: 15px;
        margin-top: -25px;
        margin-left: 25px;
        padding: 12px 17px;
        color: #fff;
        background-color: #000;
        border: 1px solid #000;
        transition: all 0.5s ease-in-out;
    }

    .div3 h1 {
        font-size: 35px;
        font-weight: 400;
        font-family: "Saira", sans-serif;
    }

    .div4 .card {
        width: 300px;
        height: 290px;
        border: 1px solid #fff;
        border-radius: 30px;
        position: relative;
        overflow: hidden;
    }

    .divh h1 {
        font-family: "Saira", sans-serif;
        font-size: 55px;
        line-height: 50px;
        font-weight: 400;
    }

    .divh p {
        font-family: "Saira", sans-serif;
        font-size: 28px;
        font-weight: 400;
    }

    .divh {
        padding-top: 80px;
    }

    #but {
        font-family: "Saira", sans-serif;
        font-size: 16px;
        font-weight: 600;
        border: 1px solid #000;
        background-color: #000;
        color: #fff;
        border-radius: 15px;
        padding: 12px 30px;
        transition: all 0.5s ease-in-out;
    }

    .div6 img {
        border: 1px solid #fff;
        border-radius: 30px;
        width: 600px;
        height: 600px;
    }

    .div7 h1 {
        font-weight: 400;
        font-size: 35px;
        font-family: "Saira", sans-serif;
    }

    .product {
        position: relative;
        width: 405px;
        height: 380px;
        overflow: hidden;
        border-radius: 35px;
    }

    .div9 .div10 h1 {
        font-family: "Space Grotesk", sans-serif;
        line-height: 65px;
        font-size: 75px;
        font-weight: 700;
        padding-left: 70px;
        opacity: 0;
        transform: translateY(-70px);
        animation: myanimation 2s ease forwards;
        animation-delay: 0s;
    }

    .div10 p {
        font-family: "Saira", sans-serif;
        text-align: justify;
        padding-right: 70px;
        font-size: 15px;
        opacity: 0;
        transform: translateY(-90px);
        animation: myanimation 2s ease forwards;
        animation-delay: 0s;
    }


}

/* check 1200px pr */
@media (max-width: 1399px) {
    nav a {
        font-family: "Saira", sans-serif;
        text-decoration: none;
        font-size: 13px;
        font-weight: 500;
        color: #000;
        margin-left: 22px;
        position: relative;
        padding-bottom: 5px;
    }

    .head h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 65px;
        line-height: 60px;
    }

    .head h4 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 24px;
        margin-top: -23px;
    }

    .div1 {
        border-radius: 20px;
        width: 370px;
        height: 380px;
        background-color: #fff;
        position: absolute;
        top: 65px;
        left: 685px;
        opacity: 0;
        transform: translateX(30px);
        animation: myanimation 2s ease forwards;
        animation-delay: 0s;
    }

    .div1 img {
        padding: 25px 25px 0px 25px;
        width: 320px;
        height: 200px;
    }

    .div1 .p1 {
        font-family: "Saira", sans-serif;
        font-weight: 700;
        font-size: 20px;
        /* margin-top: 0px; */
        padding-left: 25px;
    }

    .div1 .p2 {
        font-family: "Saira", sans-serif;
        font-weight: 600;
        text-decoration: line-through;
        color: darkslategray;
        font-size: 16px;
        margin-top: -25px;
        padding-left: 25px;
    }

    .div1 .p3 {
        font-family: "Saira", sans-serif;
        font-weight: 700;
        font-size: 19px;
        margin-top: -24px;
        padding-left: 25px;
    }

    #butt {
        font-family: "Saira", sans-serif;
        font-weight: 600;
        font-size: 13px;
        border-radius: 15px;
        margin-top: -12px;
        margin-left: 25px;
        padding: 12px 17px;
        color: #fff;
        background-color: #000;
        border: 1px solid #000;
        transition: all 0.5s ease-in-out;
    }

    .div3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 70px;
    }

    .div3 h1 {
        font-size: 30px;
        font-weight: 400;
        font-family: "Saira", sans-serif;
    }

    .div4 .card {
        width: 255px;
        height: 250px;
        border: 1px solid #fff;
        border-radius: 30px;
        position: relative;
        overflow: hidden;
    }

    .card-btn {
        position: absolute;
        bottom: -50px;
        font-size: 15px;
        font-weight: 600;
        font-family: "Saira", sans-serif;
        left: 0;
        width: 100%;
        padding: 5px;
        background: black;
        color: white;
        border: none;
        cursor: pointer;
        transition: 0.5s ease;
    }

    .div7 h1 {
        font-weight: 400;
        font-size: 30px;
        font-family: "Saira", sans-serif;
    }

    .product {
        position: relative;
        width: 340px;
        height: 320px;
        overflow: hidden;
        border-radius: 35px;
    }

    .cart-btn {
        position: absolute;
        bottom: -50px;
        font-size: 15px;
        font-weight: 600;
        font-family: "Saira", sans-serif;
        left: 0;
        width: 100%;
        padding: 6px;
        background: black;
        color: white;
        border: none;
        cursor: pointer;
        transition: 0.6s ease;
    }

    .div9 .div10 h1 {
        font-family: "Space Grotesk", sans-serif;
        line-height: 50px;
        font-size: 60px;
        font-weight: 700;
        padding-left: 70px;
        opacity: 0;
        transform: translateY(-70px);
        animation: myanimation 2s ease forwards;
        animation-delay: 0s;
    }

    .div10 p {
        font-family: "Saira", sans-serif;
        text-align: justify;
        padding-right: 70px;
        font-size: 13px;
        opacity: 0;
        transform: translateY(-90px);
        animation: myanimation 2s ease forwards;
        animation-delay: 0s;
    }

    .div11 h1 {
        font-size: 30px;
        font-weight: 400;
        padding-left: 70px;
        font-family: "Saira", sans-serif;
    }

    .div12 {
        background-color: rgb(226, 170, 100);
        width: 310px;
        border-radius: 20px;
        padding: 25px 20px;
    }

    .div12 h1 {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }

    .div12 p {
        line-height: 20px;
        font-size: 13px;
        text-align: center;
    }

    .divimg p {
        font-weight: 600;
        font-size: 16px;
    }

    .f2 h1 {
        font-family: "Saira", sans-serif;
        font-size: 22px;
        padding-left: 20px;
    }

    ul a {
        font-family: "Saira", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
        margin-left: -20px;
        line-height: 35px;
        transition: all 0.4s ease-in-out;
    }

    .f3 h1 {
        font-family: "Saira", sans-serif;
        font-size: 21px;
        padding-left: 30px;
    }

    .f3 p {
        font-family: "Saira", sans-serif;
        font-size: 15px;
        padding-left: 30px;
    }

    .f3 input {
        padding: 10px 40px;
        margin-left: 30px;
        border: none;
        color: #fff;
        font-size: 16px;
        border-radius: 12px;
        border-bottom: 1px solid #fff;
        background-color: #272424;
        font-family: "Saira", sans-serif;
    }

    .f3 input:focus {
        border-color: #ffffff;
        box-shadow: 0px 0px 12px rgba(255, 255, 255);
    }

    #button {
        font-family: "Saira", sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin-left: 30px;
        padding: 10px 105px;
        border: 1px solid #fff;
        border-radius: 12px;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
    }

    .f6 h1 {
        font-family: "Saira", sans-serif;
        font-size: 55px;
        font-weight: 600;
        color: #fff;
        margin-left: 30px;
    }

    .f6 p {
        font-family: "Saira", sans-serif;
        font-size: 15px;
        color: #ffffff;
        margin-top: 55px;
        margin-right: 20px;
    }


}

/* check 992px pr */
@media (max-width: 1199px) {
    header h1 {
        font-size: 25px;
    }

    nav a {
        font-family: "Saira", sans-serif;
        text-decoration: none;
        font-size: 12px;
        font-weight: 500;
        color: #000;
        margin-left: 18px;
        position: relative;
        padding-bottom: 5px;
    }

    #all img {
        width: 20px;
        margin-left: 5px;
        margin-top: 5px;
    }

    .head h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 55px;
        line-height: 50px;
    }

    .head h4 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 19px;
        margin-top: -24px;

    }

    .div1 {
        border-radius: 20px;
        width: 270px;
        height: 300px;
        background-color: #fff;
        position: absolute;
        top: 50px;
        left: 590px;
        opacity: 0;
        transform: translateX(30px);
        animation: myanimation 2s ease forwards;
        animation-delay: 0s;
    }

    .div1 img {
        padding: 20px 0px 0px 20px;
        width: 230px;
        height: 150px;
    }

    .div1 a {
        position: absolute;
        top: 28px;
        left: 28px;
        font-family: sans-serif;
        text-decoration: none;
        border-radius: 20px;
        font-size: 10px;
        border: 1px solid #000;
        background-color: #000;
        color: #fff;
        padding: 4px 12px 4px 12px;
    }

    .div1 .p1 {
        font-family: "Saira", sans-serif;
        font-weight: 700;
        font-size: 16px;
        padding-left: 21px;
    }

    .div1 .p2 {
        font-family: "Saira", sans-serif;
        font-weight: 600;
        text-decoration: line-through;
        color: darkslategray;
        font-size: 14px;
        margin-top: -21px;
        padding-left: 21px;
    }

    .div1 .p3 {
        font-family: "Saira", sans-serif;
        font-weight: 700;
        font-size: 16px;
        margin-top: -19px;
        padding-left: 21px;
    }

    #butt {
        font-family: "Saira", sans-serif;
        font-weight: 600;
        font-size: 10px;
        border-radius: 12px;
        margin-top: -11px;
        margin-left: 21px;
        padding: 10px 13px;
        color: #fff;
        background-color: #000;
        border: 1px solid #000;
        transition: all 0.5s ease-in-out;
    }

    .div3 h1 {
        font-size: 28px;
        font-weight: 400;
        font-family: "Saira", sans-serif;
    }

    .div4 .card {
        width: 205px;
        height: 195px;
        border: 1px solid #fff;
        border-radius: 30px;
        position: relative;
        overflow: hidden;
    }

    .card-btn {
        position: absolute;
        bottom: -50px;
        font-size: 12px;
        font-weight: 600;
        font-family: "Saira", sans-serif;
        left: 0;
        width: 100%;
        padding: 5px;
        background: black;
        color: white;
        border: none;
        cursor: pointer;
        transition: 0.5s ease;
    }

    .div6 {
        display: flex;
        justify-content: space-between;
        padding: 60px 70px 0px 70px;
    }

    .divh {
        padding-top: 15px;
    }

    .divh h1 {
        font-family: "Saira", sans-serif;
        font-size: 37px;
        line-height: 40px;
        font-weight: 400;
    }

    .divh p {
        font-family: "Saira", sans-serif;
        font-size: 18px;
        font-weight: 400;
    }



    .div6 img {
        border: 1px solid #fff;
        border-radius: 30px;
        width: 420px;
        height: 420px;
    }

    #but {
        font-family: "Saira", sans-serif;
        font-size: 13px;
        font-weight: 600;
        border: 1px solid #000;
        background-color: #000;
        color: #fff;
        border-radius: 15px;
        padding: 11px 25px;
        transition: all 0.5s ease-in-out;
    }

    .product {
        position: relative;
        width: 275px;
        height: 265px;
        overflow: hidden;
        border-radius: 35px;
    }


    .div9 .div10 h1 {
        font-family: "Space Grotesk", sans-serif;
        line-height: 45px;
        font-size: 55px;
        font-weight: 700;
        padding-left: 70px;
        opacity: 0;
        transform: translateY(-70px);
        animation: myanimation 2s ease forwards;
        animation-delay: 0s;
    }

    .div10 {
        display: flex;
        align-items: center;
        gap: 85px;
        position: absolute;
        top: 0px;
    }

    .div10 p {
        font-family: "Saira", sans-serif;
        text-align: justify;
        padding-right: 70px;
        font-size: 11px;
        opacity: 0;
        transform: translateY(-90px);
        animation: myanimation 2s ease forwards;
        animation-delay: 0s;
    }

    .div12 h1 {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }

    .div12 p {
        line-height: 16px;
        font-size: 11px;
        text-align: center;
    }

    .div12 img {
        width: 40px;
        height: 40px;
        border: 1px solid #fff;
        border-radius: 50%;
        margin-left: 12px;
    }

    .f2 h1 {
        font-family: "Saira", sans-serif;
        font-size: 18px;
        padding-left: 20px;
    }

    ul a {
        font-family: "Saira", sans-serif;
        font-size: 13px;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
        margin-left: -20px;
        line-height: 27px;
        transition: all 0.4s ease-in-out;
    }

    .f3 h1 {
        font-family: "Saira", sans-serif;
        font-size: 18px;
        padding-left: 30px;
    }

    .f3 p {
        font-family: "Saira", sans-serif;
        font-size: 13px;
        padding-left: 30px;
    }

    .f3 input {
        padding: 10px 25px;
        margin-left: 30px;
        border: none;
        color: #fff;
        font-size: 16px;
        border-radius: 15px;
        border-bottom: 1px solid #fff;
        background-color: #272424;
        font-family: "Saira", sans-serif;
    }

    #button {
        font-family: "Saira", sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin-left: 30px;
        padding: 10px 88px;
        border: 1px solid #fff;
        border-radius: 15px;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
    }

    .f6 h1 {
        font-family: "Saira", sans-serif;
        font-size: 45px;
        font-weight: 600;
        color: #fff;
    }

    .f6 p {
        font-family: "Saira", sans-serif;
        font-size: 14px;
        color: #ffffff;
        margin-top: 38px;
        margin-right: 20px;
    }

}

/* Screen Size 768px check */
@media (max-width: 991px) {

    header {
        padding: 0px 45px;
    }

    nav a {
        font-size: 10px;
        margin-left: 13px;
    }

    nav a::after {
        height: 2px;
    }

    .backimg {
        padding: 0px 45px;
        position: relative;
    }

    .head {
        top: -10px;
        left: 65px;

    }

    .head h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .head h4 {
        font-size: 14px;
        margin-top: -20px;
    }

    .div1 {
        border-radius: 15px;
        width: 215px;
        height: 250px;
        top: 30px;
        left: 455px;
    }

    .div1 img {
        width: 192px;
        height: 120px;
        margin-top: -8px;
        margin-left: -8px;
    }

    .div1 a {
        position: absolute;
        top: 18px;
        left: 17px;
        font-family: sans-serif;
        text-decoration: none;
        border-radius: 20px;
        font-size: 8px;
        border: 1px solid #000;
        background-color: #000;
        color: #fff;
        padding: 5px 10px 5px 10px;
    }

    .div1 .p1 {
        font-family: "Saira", sans-serif;
        font-weight: 700;
        font-size: 17px;
        padding-left: 13px;
    }

    .div1 .p2 {
        font-family: "Saira", sans-serif;
        font-weight: 600;
        text-decoration: line-through;
        color: darkslategray;
        font-size: 15px;
        margin-top: -23px;
        padding-left: 13px;
    }

    .div1 .p3 {
        font-family: "Saira", sans-serif;
        font-weight: 700;
        font-size: 17px;
        margin-top: -23px;
        padding-left: 13px;
    }

    #butt {
        font-weight: 600;
        font-size: 8px;
        border-radius: 12px;
        margin-top: -11px;
        margin-left: 13px;
        padding: 9px 12px;

    }

    .div3 {
        padding: 0px 45px;
    }

    .div3 h1 {
        font-size: 25px;
    }

    .div4 {
        padding: 0px 45px;
    }

    .div4 .card {
        width: 160px;
        height: 170px;
        border-radius: 21px;
    }

    .card-btn {
        font-size: 10px;
        padding: 4px;
    }

    .div6 {

        padding: 60px 45px;
    }

    .div6 img {
        border: 1px solid #fff;
        border-radius: 25px;
        width: 350px;
        height: 350px;
    }

    .divh {
        padding-top: 0px;
    }

    .divh h1 {
        font-family: "Saira", sans-serif;
        font-size: 30px;
        line-height: 32px;
        font-weight: 400;
    }

    .divh p {

        font-size: 15px;
        font-weight: 400;
    }

    #but {
        font-size: 10px;
        border-radius: 13px;
        padding: 10px 20px;
    }

    .div7 {
        padding: 0px 45px;
    }

    .div7 h1 {
        font-weight: 400;
        font-size: 25px;
    }

    .div8 {
        padding: 0px 45px;
        cursor: pointer;
    }

    .product {
        position: relative;
        width: 218px;
        height: 230px;
        overflow: hidden;
        border-radius: 25px;
    }

    .cart-btn {
        font-size: 13px;
        padding: 4px;
    }

    .div9 {
        height: 500px;
    }

    .div10 {
        top: 0px;
        left: -27px;
    }

    .div9 .div10 h1 {
        font-family: "Space Grotesk", sans-serif;
        line-height: 40px;
        font-size: 45px;
    }

    .div10 p {
        padding-right: 45px;
        font-size: 8px;
    }

    .div11 {
        padding: 0px 55px;
    }

    .div11 h1 {
        font-size: 22px;
        font-weight: 400;
    }

    .main {
        padding: 10px 45px;
    }

    .div12 {
        background-color: rgb(226, 170, 100);
        width: 310px;
        border-radius: 20px;
        padding: 10px 20px;
    }

    footer .contian {
        padding: 10px 45px 0px 25px;
    }

    .f2 h1 {
        font-family: "Saira", sans-serif;
        font-size: 13px;
        padding-left: 20px;
    }

    ul a {
        font-size: 10px;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
        margin-left: -20px;
        line-height: 20px;
        transition: all 0.4s ease-in-out;
    }

    .f3 h1 {
        font-family: "Saira", sans-serif;
        font-size: 13px;
        padding-left: 30px;
    }

    .f3 p {
        font-family: "Saira", sans-serif;
        font-size: 10px;
        padding-left: 30px;
        padding-top: 10px;
    }

    .f3 input {
        padding: 11px 31px;
        margin-left: 28px;
        font-size: 10px;
        border-radius: 13px;
    }

    #button {

        font-size: 10px;
        ;
        margin-left: 27px;
        padding: 10px 69px;
        border-radius: 13px;
        cursor: pointer;
    }

    .f6 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px 0px 10px;
    }

    .f6 h1 {
        font-family: "Saira", sans-serif;
        font-size: 35px;
        font-weight: 600;
        color: #fff;
    }

    .f6 p {
        font-family: "Saira", sans-serif;
        font-size: 12px;
        color: #ffffff;
        margin-top: 35px;
        margin-right: 20px;
    }
}

/* Screen Size 576px check */
@media (max-width: 767px) {
    header {
        padding: 0px 25px;
    }

    header h1 {
        font-size: 20px;
    }

    .div1 {
        border-radius: 15px;
        width: 196px;
        height: 250px;
        top: 28px;
        left: 310px;
    }

    nav a {
        font-size: 7px;
        margin-left: 8px;
    }

    nav a::after {
        height: 2px;
    }

    #all img {
        width: 15px;
        margin-left: 0px;
        margin-top: 7px;
    }

    .backimg {
        padding: 0px 25px;
        position: relative;
    }

    .head {
        top: -14px;
        left: 40px;
    }

    .head h1 {
        font-size: 33px;
        line-height: 33px;
    }

    .head h4 {
        font-size: 10px;
        margin-top: -17px;
    }

    .div1 {
        border-radius: 14px;
        width: 175px;
        height: 195px;
        top: 22px;
        left: 338px;
    }

    .div1 img {
        width: 150px;
        height: 90px;
        margin-top: -8px;
        margin-left: -8px;
    }

    .div1 a {
        position: absolute;
        top: 16px;
        left: 16px;
        font-family: sans-serif;
        text-decoration: none;
        border-radius: 13px;
        font-size: 7px;
        border: 1px solid #000;
        background-color: #000;
        color: #fff;
        padding: 3px 7px 3px 7px;
    }

    .div1 .p1 {
        font-family: "Saira", sans-serif;
        font-weight: 700;
        font-size: 14px;
        padding-left: 13px;
    }

    .div1 .p2 {
        font-family: "Saira", sans-serif;
        font-weight: 600;
        text-decoration: line-through;
        color: darkslategray;
        font-size: 10px;
        margin-top: -19px;
        padding-left: 13px;
    }

    .div1 .p3 {
        font-family: "Saira", sans-serif;
        font-weight: 700;
        font-size: 12px;
        margin-top: -15px;
        padding-left: 13px;
    }

    #butt {
        font-weight: 600;
        font-size: 8px;
        border-radius: 12px;
        margin-top: -18px;
        margin-left: 13px;
        padding: 9px 12px;
    }

    #butt {
        font-weight: 600;
        font-size: 7px;
        border-radius: 10px;
        /* margin-top: -12px; */
        margin-left: 13px;
        padding: 8px 10px;
    }

    .div3 {
        padding: 0px 25px;
    }

    .div3 h1 {
        font-size: 20px;
    }

    .div4 {
        padding: 0px 25px;
    }

    .div4 .card {
        width: 120px;
        height: 125px;
        border-radius: 17px;
    }

    .card-btn {
        font-size: 8px;
        padding: 3px;
    }

    .div6 {
        padding: 50px 25px;
    }

    .div6 img {
        border: 1px solid #ffffff;
        border-radius: 20px;
        width: 265px;
        height: 265px;
    }

    .divh h1 {
        font-family: "Saira", sans-serif;
        font-size: 23px;
        line-height: 23px;
        font-weight: 400;
    }

    .divh p {
        font-size: 12px;
        font-weight: 400;
    }

    #but {
        font-size: 8px;
        border-radius: 12px;
        padding: 10px 18px;
    }

    .div7 {
        padding: 0px 25px;
    }

    .div7 h1 {
        font-weight: 400;
        font-size: 20px;
    }

    .div8 {
        padding: 0px 25px;
        cursor: pointer;
    }

    .product {
        position: relative;
        width: 165px;
        height: 170px;
        overflow: hidden;
        border-radius: 20px;
    }

    .cart-btn {
        font-size: 10px;
        padding: 4px;
    }

    .div9 {
        height: 350px;
    }

    .div10 {
        top: 0px;
        left: -45px;
    }

    .div9 .div10 h1 {
        font-family: "Space Grotesk", sans-serif;
        line-height: 33px;
        font-size: 35px;
    }

    .div10 p {
        padding-right: 25px;
        font-size: 6px;
    }

    .div11 {
        padding: 0px 55px 0px 0px;
        text-align: center;
    }

    .div11 h1 {
        font-size: 18px;
        font-weight: 400;
    }

    .main {
        padding: 10px 25px;
    }

    .div12 {
        background-color: rgb(226, 170, 100);
        width: 310px;
        border-radius: 20px;
        padding: 13px 7px;
    }

    .div12 h1 {
        font-size: 11px;
        font-weight: 600;
        text-align: center;
    }

    .div12 p {
        line-height: 14px;
        font-size: 9px;
        text-align: center;
    }

    .div12 .divimg {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .div12 img {
        width: 30px;
        height: 30px;
        border: 1px solid #fff;
        border-radius: 50%;
        margin-left: 0px;
    }

    footer .contian {
        padding: 10px 25px 0px 10px;
    }

    .f2 h1 {
        font-family: "Saira", sans-serif;
        font-size: 12px;
        padding-left: 20px;
    }

    ul a {
        font-size: 8px;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
        margin-left: -20px;
        line-height: 12px;
        transition: all 0.4s ease-in-out;
    }

    .f3 h1 {
        font-family: "Saira", sans-serif;
        font-size: 12px;
        padding-left: 30px;
    }

    .f3 p {
        font-family: "Saira", sans-serif;
        font-size: 8px;
        padding-left: 30px;
        padding-top: 13px;
    }

    .f3 input {
        padding: 8px 20px;
        margin-left: 28px;
        font-size: 10px;
        border-radius: 12px;
    }

    #button {
        font-size: 10px;
        margin-left: 27px;
        padding: 8px 59px;
        border-radius: 11px;
        cursor: pointer;
    }

    .f6 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 7px 0px 0px;
    }

    .f6 h1 {
        font-family: "Saira", sans-serif;
        font-size: 30px;
        font-weight: 600;
        color: #fff;
    }

    .f6 p {
        font-family: "Saira", sans-serif;
        font-size: 10px;
        color: #ffffff;
        margin-top: 26px;
        margin-right: 20px;
    }
}

/* Screen Size All mobile check */
@media (max-width: 575px) {
    header h1 {
        font-size: 14px;
    }

    nav a {
        font-size: 3px;
    }

    #all img {
        width: 10px;
        margin-left: 0px;
        margin-top: 7px;
    }

    .backimg img {
        width: 100%;
        border-radius: 15px;
    }

    .head {
        top: -1px;
        left: 37px;
    }

    .head h1 {
        font-size: 18px;
        line-height: 18px;
    }

    .head h4 {
        font-size: 8px;
        margin-top: -5px;
    }

    .div1 {
        display: none;
    }

    .div3 h1 {
        font-size: 12px;
    }

    .div4 .card {
        width: 75px;
        height: 80px;
        border-radius: 15px;
    }

    .card-btn {
        font-size: 4px;
        padding: 1px;
    }

    .divh h1 {
        font-family: "Saira", sans-serif;
        font-size: 13px;
        line-height: 14px;
        font-weight: 400;
        margin-top: -30px;
    }

    .div6 img {
        border: 1px solid #ffffff;
        border-radius: 15px;
        width: 135px;
        height: 140px;
    }

    .divh p {
        font-size: 6px;
        font-weight: 400;
    }

    #but {
        font-size: 5px;
        border-radius: 6px;
        padding: 4px 8px;
    }

    .div7 h1 {
        font-weight: 400;
        font-size: 12px;
    }

    .product {
        position: relative;
        width: 100px;
        height: 105px;
        overflow: hidden;
        border-radius: 15px;
    }

    .cart-btn {
        font-size: 5px;
        padding: 2px;
    }

    .product:hover {
        box-shadow: 3px 3px 8px #272424;
    }

    .div9 {
        height: 250px;
    }

    .div9 .div10 h1 {
        font-family: "Space Grotesk", sans-serif;
        line-height: 18px;
        font-size: 20px;
    }

    .div10 p {
        padding-right: 23px;
        font-size: 3px;
    }

    .div11 h1 {
        font-size: 12px;
        font-weight: 400;
        padding-left: 70px;
        font-family: "Saira", sans-serif;
    }

    .main {
        font-family: "Saira", sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }

    .div12:hover {
        transform: translateY(-3px);
    }

    .div12 {
        border-radius: 15px;
        padding: 20px 20px;
    }

    .div12 h1 {
        font-size: 14px;
        font-weight: 600;
        text-align: center;
    }

    .div12 p {
        line-height: 15px;
        font-size: 10px;
        text-align: center;
    }

    .div12 .divimg {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .contian {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .f2 h1 {
        font-family: "Saira", sans-serif;
        font-size: 20px;
    }

    ul a {
        font-size: 13px;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
        line-height: 25px;
        transition: all 0.4s ease-in-out;
    }

    .f3 h1 {
        font-family: "Saira", sans-serif;
        font-size: 20px;
    }

    .f3 p {
        font-family: "Saira", sans-serif;
        font-size: 13px;
    }

    .f3 input {
        padding: 10px 40px;
        font-size: 11px;
        border-radius: 12px;
    }

    #button {
        font-size: 8px;
        font-weight: 700;
        padding: 8px 120px;
        border-radius: 25px;
        cursor: pointer;
    }

    .f6 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
    }

    .f6 h1 {
        font-family: "Saira", sans-serif;
        font-size: 25px;
        font-weight: 600;
        color: #fff;
    }

    .f6 p {
        font-family: "Saira", sans-serif;
        font-size: 9px;
        color: #ffffff;
        margin-top: 20px;
        margin-right: 25px;
    }
}